<div class="padding">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
    <form [formGroup]="formFilter" (submit)="submit()">
      <mat-form-field>
        <input formControlName="model" matInput placeholder="model" maxlength="100">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="price" matInput placeholder="price" maxlength="20">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="brand" matInput placeholder="brand" maxlength="100">
      </mat-form-field>
    </form>
  </div>


  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" fxLayoutGap.xs="0">
    <mat-card class="card-pictured" *ngFor="let car of cars" fxFlex="20%" fxFlex.xs="50%">
      <mat-card-header>
        <mat-card-title>{{car.brand}}</mat-card-title>
        <mat-card-subtitle>{{car.model}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="car.image" [alt]="car.model">
      <mat-card-content>
        {{car.price | currency:'EUR'}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="addToFavorites(car)">
          <mat-icon *ngIf="isInFavorite(car)">favorite</mat-icon>
          <mat-icon *ngIf="!isInFavorite(car)">favorite_border</mat-icon>

        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button color="primary" (click)="loadMoreCards()" *ngIf="canLoadMore">Show More</button>
  </div>
</div>
