<div class="dialog">
  <div class="header">
    <h2 mat-dialog-title>Favorites</h2>
  </div>
  <mat-dialog-content>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap.xs="0">
      <mat-card class="card-pictured" *ngFor="let car of favorites" fxFlex="33%" fxFlex.xs="100%">
        <mat-card-header>
          <mat-card-title>{{car.brand}}</mat-card-title>
          <mat-card-subtitle>{{car.model}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="car.image" [alt]="car.model">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-button color="primary" (click)="remove(car)">Remove</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="10px">

    <button type="button" mat-raised-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
</div>
