<mat-toolbar color="primary">

  <span>Manager Cars</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" (click)="openFavorites()" [matBadge]="favorites.length" matBadgeColor="warn">favorite</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
